<%= simple_form_for(@shop) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :region %>
    <%= f.association :city %>
    <%= f.input :district %>
    <%= f.input :title %>
    <%= f.input :detail_address %>
    <%= f.input :content %>
    <%= f.input :contact_name %>
    <%= f.input :mobile_phone %>
    <% if @shop.new_record? %>
      <%= f.input :mobile_phone_url %>
    <% else %>
      <%= image_tag @shop.mobile_phone_url %>
    <% end %>
    <%= f.input :email %>
    <% if @shop.new_record? %>
      <%= f.input :email_url %>
    <% else %>
      <%= image_tag @shop.email_url %>
    <% end %>
    <%= f.input :website %>
    <%= f.input :pv %>
    <%= f.input :source %>
    <%= f.input :source_url %>
    <%= f.input :is_processed %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
