<h1>Listing shops</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Region</th>
      <th>City</th>
      <th>District</th>
      <th>Title</th>
      <th>Detail address</th>
      <th>Content</th>
      <th>Contact name</th>
      <th>Mobile phone</th>
      <th>Mobile phone url</th>
      <th>Email</th>
      <th>Email url</th>
      <th>Website</th>
      <th>Pv</th>
      <th>Source</th>
      <th>Source url</th>
      <th>Is processed</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><strong><%= shop.id%>.</strong><%= link_to shop.user.name, user_path(shop.user) %></td>
        <td><%#= link_to shop.region.try(:name), region_path(shop.region) %></td>
        <td><%#= link_to shop.city.try(:name), city_path(shop.city) %></td>
        <td><%#= link_to shop.district.try(:name), district_path(shop.district) %></td>
        <td><%= shop.title %></td>
        <td><%= shop.detail_address %></td>
        <td><%= shop.content %></td>
        <td><%= shop.contact_name %></td>
        <td><%= shop.mobile_phone %></td>
        <td><%= shop.mobile_phone_url %></td>
        <td><%= shop.email %></td>
        <td><%= shop.email_url %></td>
        <td><%= shop.website %></td>
        <td><%= shop.pv %></td>
        <td><%= shop.source %></td>
        <td><%= shop.source_url %></td>
        <td><%= shop.is_processed %></td>
        <td><%= link_to 'Show', shop %></td>
        <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
        <td><%= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shop', new_shop_path %>
