<p id="notice"><%= notice %></p>

<p>
  <strong>会员:</strong>
  <%= @shop.user.name %>
</p>

<p>
  <strong>省:</strong>
  <%= @shop.region %>
</p>

<p>
  <strong>市:</strong>
  <%= @shop.city %>
</p>

<p>
  <strong>区:</strong>
  <%= @shop.district %>
</p>

<p>
  <strong>详细地址:</strong>
  <%= @shop.detail_address %>
</p>

<p>
  <strong>标题:</strong>
  <%= @shop.title %>
</p>


<p>
  <strong>简介:</strong>
  <%= @shop.content %>
</p>

<p>
  <strong>联系人:</strong>
  <%= @shop.contact_name %>
</p>

<p>
  <strong>手机号码:</strong>
  <%= @shop.mobile_phone %>
</p>

<p>
  <strong>手机号码验证链接:</strong>
  <%= image_tag @shop.mobile_phone_url %>
</p>
<!-- 
<p>
  <strong>Email:</strong>
  <%= @shop.email %>
</p>

<p>
  <strong>Email url:</strong>
  <%= @shop.email_url %>
</p>
 -->
<p>
  <strong>网址:</strong>
  <%= @shop.website %>
</p>

<p>
  <strong>来源:</strong>
  <%= @shop.source %>
</p>

<p>
  <strong>原文地址:</strong>
  <%= link_to @shop.source_url, @shop.source_url, target: '_blank' %>
</p>

<hr/>
<%= link_to '编辑', edit_shop_path(@shop) %> |
<%= link_to '返回', shops_path %>
