<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @shop.user %>
</p>

<p>
  <strong>Region:</strong>
  <%= @shop.region %>
</p>

<p>
  <strong>City:</strong>
  <%= @shop.city %>
</p>

<p>
  <strong>District:</strong>
  <%= @shop.district %>
</p>

<p>
  <strong>Title:</strong>
  <%= @shop.title %>
</p>

<p>
  <strong>Detail address:</strong>
  <%= @shop.detail_address %>
</p>

<p>
  <strong>Content:</strong>
  <%= @shop.content %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @shop.contact_name %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @shop.mobile_phone %>
</p>

<p>
  <strong>Mobile phone url:</strong>
  <%= @shop.mobile_phone_url %>
</p>

<p>
  <strong>Email:</strong>
  <%= @shop.email %>
</p>

<p>
  <strong>Email url:</strong>
  <%= @shop.email_url %>
</p>

<p>
  <strong>Website:</strong>
  <%= @shop.website %>
</p>

<p>
  <strong>Pv:</strong>
  <%= @shop.pv %>
</p>

<p>
  <strong>Source:</strong>
  <%= @shop.source %>
</p>

<p>
  <strong>Source url:</strong>
  <%= @shop.source_url %>
</p>

<p>
  <strong>Is processed:</strong>
  <%= @shop.is_processed %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
