<h1>Listing jobs</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Cate</th>
      <th>Region</th>
      <th>City</th>
      <th>District</th>
      <th>Title</th>
      <th>Salary</th>
      <th>Content</th>
      <th>Detail address</th>
      <th>Pv</th>
      <th>Is processed</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.user.name, user_path(job.user) %></td>
        <td><%= job.cate_id %></td>
        <td><%#= link_to job.region.try(:name), region_path(job.region) %></td>
        <td><%#= link_to job.city.try(:name), city_path(job.city) %></td>
        <td><%#= link_to job.district.try(:name), district_path(job.district) %></td>
        <td><%= job.title %></td>
        <td><%= job.salary %></td>
        <td><%= job.content %></td>
        <td><%= job.detail_address %></td>
        <td><%= job.pv %></td>
        <td><%= job.is_processed %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
