<p id="notice"><%= notice %></p>

<p>
  <strong>会员:</strong>
  <%= @job.user.name %>
</p>

<p>
  <strong>Cate:</strong>
  <%= ApplicationHelper::JOB_CATES[@job.cate_id] %>
</p>

<p>
  <strong>省:</strong>
  <%= @job.region %>
</p>

<p>
  <strong>市:</strong>
  <%= @job.city %>
</p>

<p>
  <strong>区:</strong>
  <%= @job.district %>
</p>

<p>
  <strong>地址:</strong>
  <%= @job.detail_address %>
</p>


<p>
  <strong>标题:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>薪资:</strong>
  <%= @job.salary %>
</p>

<p>
  <strong>内容:</strong>
  <%= raw @job.content %>
</p>

<hr/>
<%= link_to '修改', edit_job_path(@job) %> |
<%= link_to '返回', jobs_path %>
