<h1>Listing notifications</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Message</th>
      <th>Is processed</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.message %></td>
        <td><%= notification.is_processed %></td>
        <td><%= link_to '详细', notification %></td>
        <td><%= link_to '编辑', edit_notification_path(notification) %></td>
        <td><%= link_to '删除', notification, method: :delete, data: { confirm: '是否删除？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notification', new_notification_path %>
