<h1>Listing districts</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>City</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @districts.each do |district| %>
      <tr>
        <td><%= link_to district.city.try(:name), city_path(district.city) %></td>
        <td><%= district.name %></td>
        <td><%= link_to '详细', district %></td>
        <td><%= link_to '编辑', edit_district_path(district) %></td>
        <td><%= link_to '删除', district, method: :delete, data: { confirm: '是否删除？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New District', new_district_path %>
