<h1>图片列表</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Source type</th>
      <th>Source</th>
      <th>External url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= link_to photo.user.name, user_path(photo.user) %></td>
        <td><%= photo.title %></td>
        <td><%= photo.source_type %></td>
        <td><%= photo.source_id %></td>
        <td><%= photo.external_url %></td>
        <td><%= link_to '详细', photo %></td>
        <td><%= link_to '编辑', edit_photo_path(photo) %></td>
        <td><%= link_to '删除', photo, method: :delete, data: { confirm: '是否删除？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>