<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @photo.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Source type:</strong>
  <%= @photo.source_type %>
</p>

<p>
  <strong>Source:</strong>
  <%= @photo.source_id %>
</p>

<p>
  <strong>External url:</strong>
  <%= @photo.external_url %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
