<h1>Listing cities</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Region</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= link_to city.region.try(:name), region_path(city.region) %></td>
        <td><%= city.name %></td>
        <td><%= link_to '详细', city %></td>
        <td><%= link_to '编辑', edit_city_path(city) %></td>
        <td><%= link_to '删除', city, method: :delete, data: { confirm: '是否删除？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_city_path %>
