<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @product.user %>
</p>

<p>
  <strong>Cate:</strong>
  <%= @product.cate_id %>
</p>

<p>
  <strong>Region:</strong>
  <%= @product.region %>
</p>

<p>
  <strong>City:</strong>
  <%= @product.city %>
</p>

<p>
  <strong>District:</strong>
  <%= @product.district %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @product.content %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Detail address:</strong>
  <%= @product.detail_address %>
</p>

<p>
  <strong>Pv:</strong>
  <%= @product.pv %>
</p>

<p>
  <strong>Is processed:</strong>
  <%= @product.is_processed %>
</p>

<%= link_to '编辑', edit_product_path(@product) %> |
<%= link_to '返回', products_path %>
