<%= simple_form_for(@resume) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :cate_id %>
    <%= f.association :region %>
    <%= f.association :city %>
    <%= f.association :district %>
    <%= f.input :name %>
    <%= f.input :summary %>
    <%= f.input :sex %>
    <%= f.input :age %>
    <%= f.input :education %>
    <%= f.input :work_year %>
    <%= f.input :content %>
    <%= f.input :mobile_phone %>
    <%= f.input :mobile_phone_str %>
    <%= f.input :email %>
    <%= f.input :qq %>
    <%= f.input :pv %>
    <%= f.input :fav %>
    <%= f.input :is_processed %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
