<h1>简历列表</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>用户</th>
      <th>类型</th>
      
      <th>名称</th>
      <th>详细</th>
      <th>性别</th>
      <th>年龄</th>
      <th>教育</th>
      <th>工作经历</th>
      <th>介绍</th>
      <th>手机号码</th>
      <th>Email</th>
      <th>QQ</th>
      <th>页面浏览量</th>
      <th>执行情况</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @resumes.each do |resume| %>
      <tr>
        <td><%= link_to resume.user.name, user_path(resume.user) %></td>
        <td><%= resume.cate_id %></td>
        
        <td><%= resume.name %></td>
        <td><%= resume.summary %></td>
        <td><%= resume.sex %></td>
        <td><%= resume.age %></td>
        <td><%= resume.education %></td>
        <td><%= resume.work_year %></td>
        <td><%= resume.content %></td>
        <td><%= resume.mobile_phone %></td>
        <td><%= resume.email %></td>
        <td><%= resume.qq %></td>
        <td><%= resume.pv %></td>
        <td><%= resume.fav %></td>
        <td><%= resume.is_processed %></td>
        <td><%= link_to '详细', resume %></td>
        <td><%= link_to '编辑', edit_resume_path(resume) %></td>
        <td><%= link_to '删除', resume, method: :delete, data: { confirm: '是否删除？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resume', new_resume_path %>
