<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @resume.user %>
</p>

<p>
  <strong>Cate:</strong>
  <%= @resume.cate_id %>
</p>

<p>
  <strong>Region:</strong>
  <%= @resume.region %>
</p>

<p>
  <strong>City:</strong>
  <%= @resume.city %>
</p>

<p>
  <strong>District:</strong>
  <%= @resume.district %>
</p>

<p>
  <strong>Name:</strong>
  <%= @resume.name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @resume.summary %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @resume.sex %>
</p>

<p>
  <strong>Age:</strong>
  <%= @resume.age %>
</p>

<p>
  <strong>Education:</strong>
  <%= @resume.education %>
</p>

<p>
  <strong>Work year:</strong>
  <%= @resume.work_year %>
</p>

<p>
  <strong>Content:</strong>
  <%= @resume.content %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @resume.mobile_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @resume.email %>
</p>

<p>
  <strong>Qq:</strong>
  <%= @resume.qq %>
</p>

<p>
  <strong>Pv:</strong>
  <%= @resume.pv %>
</p>

<p>
  <strong>Fav:</strong>
  <%= @resume.fav %>
</p>

<p>
  <strong>Is processed:</strong>
  <%= @resume.is_processed %>
</p>

<%= link_to '编辑', edit_resume_path(@resume) %> |
<%= link_to '返回', resumes_path %>
